@import "../../styles/variables";

@mixin boxShadow($colour, $length){
  $value: ();
  @for $i from 1 through $length {
    $px: $i + px;
    $shadow: $px $px $colour;
    $value: append($value, $shadow, comma)

  }
  text-shadow: $value;
}

@keyframes textexpand {
  0% {
    transform: translate(80vw, 80vw); 
  }
  100% {
    transform: translate(0vw, 0vw);
  }
}


.Landing {
  background-color: $backgroundsAndButtons;
  height: 100vh;
  width: 100vw;
  h2:nth-child(1) {
    font-family: 'AlbaSuper';
    line-height: 0;
    margin: 0;
    color:$primaryText;
    font-size: 20vw;
    text-align: center;
    /* @include boxShadow(#D4AD22, 500); */
    @include boxShadow(#64C5EB, 500);
    animation: textexpand 1s ease-in forwards;
    /* text-shadow: 0px 3px 0px #D8AD00,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1); */

  }
  h2:nth-child(2) {
    font-family: 'AlbaSuper';
    transform: translate(80vw, 80vw);
    line-height: 0;
    margin: 0; 
    padding: 0;
    color: $primaryText;
    font-size: 20vw;
    text-align: center;
    /* @include boxShadow(#c29800, 500); */
    @include boxShadow(#E84D8A, 500);
    animation: textexpand 1s ease-in forwards;
    animation-delay: 750ms;
    /* text-shadow: 0px 3px 0px #D8AD00,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1); */

  }
  img {
    width: 75vw;
    z-index: 2;
  }

  .btn {
    background: #64C5EB;
    color: $primaryText;
  }
}
