@import "../../styles/variables";

.Landing {
  background-color: #FCC901;
  height: 100vh;
  width: 100vw;
  h2 {
    font-family: $ultralight;
    color: #800000;
    font-size: 25.5vw;
    text-align: center;
    text-shadow: 0px 3px 0px #D8AD00,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);

  }
  img {
    transform: translateX(10vw);
    width: 75vw;
  }
  .btn {
    background: transparent;
    border-color: #DF4F4F;
    color: #800000;
  }
}
