$favColor: red;

$demibold: 'Avenir Next Demi Bold';
$demiboldi: 'Avenir Next Demi Bold Italic';
$boldi: 'Avenir Next Bold Italic';
$bold: 'Avenir Next Bold';
$mediumi: 'Avenir Next Medium Italic';
$heavyi: 'Avenir Next Heavy Italic';
$heavy: 'Avenir Next Heavy';
$italic: 'Avenir Next Italic';
$medium: 'Avenir Next Medium';
$regular: 'Avenir Next Regular';
$ultralight: 'Avenir Next Ultralight';
$ultralighti: 'Avenir Next Ultralight Italic';
$moneyfont: 'RadiantAntique';
