@import '../../styles/variables';

.ChildThumbnail {
  border-radius: 50%;
  border: 2px solid darkgray;
  width: 25vw;
  margin: 1vw;
}

.Child {
  background-color: whitesmoke;
  font-family: $regular;
}

.badge {
  background-color: $accentColor1;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1000px;
  color: whitesmoke;
}

.badgeLarge {
  background-color: $accentColor1;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1000px;
  color: whitesmoke;
  margin-top: 1rem;
}
