@import '../styles/variables';

.App {
  font-family: $medium;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .btn {
    border-radius: 1000px;
  }
  .login-button {
    border-radius: 1000px 0 0 1000px;
    width: 50vw;
    font-size: 5vw;
  }
}

.btn {
  border: none;
  background-color: $backgroundsAndButtons;
  color: $primaryText;
  font-family: $medium;
  font-size: 1.4rem;
  padding: 2vw;
}

.loader {
  position: absolute;
  grid-area: content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: grid;
  position: relative;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 10vh auto 10vh;
  grid-template-areas: 
    "blank blank name thumbnail"
    "content content content content"
    "navbar1 navbar2 navbar3 navbar4"
  ;
}

.firstName {
  grid-area: name;
  justify-self: center;
  align-self: center;
  font-family: $heavy;
  color: $accentColor2;
}
.thumbnail {
  grid-area: thumbnail;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  border: 2px solid $accentColor2;
  justify-self: center;
  align-self: center;
}
.content {
  grid-area: content;
  overflow-y: scroll;
  height: 80vh;
}
.navbar1 {
  grid-area: navbar1;
  justify-self: center;
  align-self: center;
  font-size: 8vw;
}
.navbar2 {
  grid-area: navbar2;
  justify-self: center;
  align-self: center;
  font-size: 8vw;
}
.navbar3 {
  grid-area: navbar3;
  justify-self: center;
  align-self: center;
  font-size: 8vw;
}
.navbar4 {
  grid-area: navbar4;
  justify-self: center;
  align-self: center;
  font-size: 8vw;
}

@font-face {
  font-family: 'Avenir Next Demi Bold';
  src: url('../Assets/Fonts/AvenirNext-DemiBold.woff2') format('woff2'),
      url('../Assets/Fonts/AvenirNext-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Demi Bold Italic';
  src: url('../Assets/Fonts/AvenirNext-DemiBoldItalic.woff2') format('woff2'),
      url('../Assets/Fonts/AvenirNext-DemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Bold Italic';
  src: url('../Assets/Fonts/AvenirNext-BoldItalic.woff2') format('woff2'),
      url('../Assets/Fonts/AvenirNext-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url('../Assets/Fonts/AvenirNext-Bold.woff2') format('woff2'),
      url('../Assets/Fonts/AvenirNext-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Medium Italic';
  src: url('../Assets/Fonts/AvenirNext-MediumItalic.woff2') format('woff2'),
      url('../Assets/Fonts/AvenirNext-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Heavy Italic';
  src: url('../Assets/Fonts/AvenirNext-HeavyItalic.woff2') format('woff2'),
      url('../Assets/Fonts/AvenirNext-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Heavy';
  src: url('../Assets/Fonts/AvenirNext-Heavy.woff2') format('woff2'),
      url('../Assets/Fonts/AvenirNext-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Italic';
  src: url('../Assets/Fonts/AvenirNext-Italic.woff2') format('woff2'),
      url('../Assets/Fonts/AvenirNext-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Medium';
  src: url('../Assets/Fonts/AvenirNext-Medium.woff2') format('woff2'),
      url('../Assets/Fonts/AvenirNext-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Regular';
  src: url('../Assets/Fonts/AvenirNext-Regular.woff2') format('woff2'),
      url('../Assets/Fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Ultralight';
  src: url('../Assets/Fonts/AvenirNext-UltraLight.woff2') format('woff2'),
      url('../Assets/Fonts/AvenirNext-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Ultralight Italic';
  src: url('../Assets/Fonts/AvenirNext-UltraLightItalic.woff2') format('woff2'),
      url('../Assets/Fonts/AvenirNext-UltraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'RadiantAntique';
  src: url('../Assets/Fonts/RadiantAntique.woff2') format('woff2'),
      url('../Assets/Fonts/RadiantAntique.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
