@import '../../styles/variables';

.parent {
  h2 {
    font-family: $regular;
  }
  font-family: $medium;
}

.child {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  grid-template-rows: 20vh auto 20vh;
  grid-template-areas: 
    ". . . name thumbnail"
    "content content content content"
    "navbar1 navbar2 navbar3 navbar4"
  ;
  .name {
    grid-area: name;
  }
  .thumbnail {
    grid-area: thumbnail;
    img {
      width: 10vw;
      border-radius: 50%;
      border: 1px solid lightgray;
    }
  }
  .content {
    grid-area: content;
  }
  .navbar1 {
    grid-area: navbar1;
    justify-self: center;
    align-self: center;
    background-color: lightgrey;
  }
  .navbar2 {
    grid-area: navbar2;
    justify-self: center;
    align-self: center;
    background-color: lightskyblue;
  }
  .navbar3 {
    grid-area: navbar3;
    justify-self: center;
    align-self: center;
    background-color: moccasin;
  }
  .navbar4 {
    grid-area: navbar4;
    justify-self: center;
    align-self: center;
    background-color: orange;
  }
}
