@import '../../styles/variables';

@mixin boxShadow($colour, $length){
  $value: ();
  @for $i from 1 through $length {
    $px: $i + px;
    $shadow: $px $px $colour;
    $value: append($value, $shadow, comma)

  }
  text-shadow: $value;
}

.dashboard-balance {
  h3 {
    color: $secondaryText;
  }
  h1 {
    font-size: 4rem;
    color: $primaryText;
  }
}

.parent {
  h2 {
    font-weight: 300;
  }
  font-weight: 500;
}

.displayBalance {
  @include boxShadow(#64C5EB, 500);
}

.child {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  grid-template-rows: 20vh auto 20vh;
  grid-template-areas: 
    ". . . name thumbnail"
    "content content content content"
    "navbar1 navbar2 navbar3 navbar4"
  ;
  .name {
    grid-area: name;
  }
  .thumbnail {
    grid-area: thumbnail;
    img {
      width: 10vw;
      border-radius: 50%;
      border: 1px solid lightgray;
    }
  }
  .content {
    grid-area: content;
  }
  .navbar1 {
    grid-area: navbar1;
    justify-self: center;
    align-self: center;
    background-color: lightgrey;
  }
  .navbar2 {
    grid-area: navbar2;
    justify-self: center;
    align-self: center;
    background-color: lightskyblue;
  }
  .navbar3 {
    grid-area: navbar3;
    justify-self: center;
    align-self: center;
    background-color: moccasin;
  }
  .navbar4 {
    grid-area: navbar4;
    justify-self: center;
    align-self: center;
    background-color: orange;
  }
}
