.addFamilyForm {
  position: absolute;
  right: 5vw;
  top: 11vh;
  width: 100vw;
  height: 40vh;
}

.addFamilyForm-enter, .addFamilyForm-appear {
  grid-area: content;
  position: absolute; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 1px 4px 9px -6px;
  top: 0;
  right: 0;
  width: 100vw;
  height: 0;
  color: darkgray;
  background-color: white;
  opacity: 0;
  border-radius: 0 0 0 10px;
  padding: 5vw;
}

.addFamilyForm-enter-active, .addFamilyForm-appear-active, .addFamilyForm-enter-done {
  grid-area: content;
  position: absolute; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 1px 4px 9px -6px;
  top: 0;
  right: 0;
  width: 100vw;
  height: 90vh;
  color: darkgray;
  background-color: white;
  opacity: 100%;
  border-radius: 0 0 0 10px;
  padding: 5vw;
  transition: all 300ms;
}

.addFamilyForm-exit, .addFamilyForm-exit-active {
  grid-area: content;
  position: absolute; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 1px 4px 9px -6px;
  top: 0;
  right: 0;
  width: 100vw;
  height: 0px;
  color: darkgray;
  background-color: white;
  opacity: 0;
  border-radius: 0 0 0 10px;
  padding: 5vw;
  transition: all 300ms;
}
