@import '../../styles/variables';

.addWishList {
  z-index: 100;
  width: 100vw;
  color: $primaryText;
  background-color: whitesmoke;
}

.addWishListForm-enter, .addWishListForm-appear {
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 1px 4px 9px -6px;
  width: 100vw;
  height: 0;
  padding: 5vw;
  background-color: whitesmoke;
}

.addWishListForm-enter-active, .addWishListForm-enter-done, .addWishListForm-appear-active {
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 1px 4px 9px -6px;
  width: 100vw;
  height: 90vh;
  padding: 5vw;
  transition: height 500ms ease-out;
  background-color: whitesmoke;
}

.addWishListForm-exit, .addWishListForm-exit-active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 1px 4px 9px -6px;
  width: 100vw;
  height: 0vh;
  padding: 5vw;
  transition: height 500ms ease-out;
  background-color: whitesmoke;
}

.ReactCrop__image {
  height: 150px;
  max-width: 200px;
}

.imgPreviewBox {
  position: relative;
}


.previewImage {
  position: absolute;
  top: 0;
  right: 0;
}
